@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.circle {
  display: flex;
  width: 30rem;
  height: 30rem;
  background-image: radial-gradient(#aad9d9, #0000);
  border-radius: 50%;
  filter: blur(89px);
  position: fixed;
  right: -20rem;
  top: 23rem;
  
}
.circletwo {
  display: flex;
  width: 27rem;
  height: 24rem;
  background-image: radial-gradient(#8a8ada, #0000);
  border-radius: 50%;
  filter: blur(89px);
  position: absolute;
  left: 19rem;
  top: -13rem;
}

li {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.list {
  flex: 1;
  display: flex;
}
.nav-bar {
  display: flex;
}

.logo {
  
  flex: 2;
  color: white;
}
.btn-component {
  background-color: #8a8ada;

}
.btn-component.first{
  background-color: #8a8ada;
  width: 12rem;
  height: 4rem;
  border-radius: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;

} 
.btn-component.second{
  background-color: transparent;
  width: 12rem;
  height: 4rem;
  border: solid white 3px;
  border-radius: 30px;
  color: white;
  margin-left: 2rem;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;

}
.btn-component.third{
  background-color: black;
  width: 12rem;
  height: 4rem;
  border-radius: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
 
 
}

   

.text-hero-section {
  color: white;
  
  width: 35%;
 


}
.text-hero-section p{
   font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}
.text-hero-section h1 {
  font-size: 87px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text-hero-section p {
  width: 60%;
  margin-top: 0rem;
  font-family: "Montserrat", sans-serif;
}
.Hero-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.image-hero-section{
  
  margin-left: 2rem;
}


.buttons{
  display: flex;
  
  margin-top: 3rem  ;
}

.logos{
  background-color: #0c0a3a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  height: 5rem;
  align-items: center;
  border-radius: 23px;
}

.logos img{

  width: 14rem;
  height: 2rem;
  margin-left: 3.5rem;
  color: white;
}

.logo-container h4{
  font-family: "Montserrat", sans-serif;
  color: white;
  
  margin-top: 7rem;
}

.text{
  color: white;
 
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.text h4{
  font-family: "Montserrat", sans-serif;  
  font-weight: 300;
}

.text h2{
  font-family: "Montserrat", sans-serif ;
  font-weight: 700;
  font-size: 57px;
  width: 79%;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.text-container{
  margin-top: 3rem;
  flex: 1;
}
.text-container p{
  font-family: "Montserrat", sans-serif;
 font-weight: 200;
 width: 50%;
 line-height: 1.5rem;
 
}
.img-container{
  flex: 1;
}

.girl{
  clip-path: circle();
  mix-blend-mode: luminosity;
  margin-top: -4.5rem;
  
}
.testimony-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.testimony h4{
     text-align: center;
    color: #AAD9D9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.testimony h2{
  font-family: "Montserrat", sans-serif ;
  font-weight: 700;
  font-size: 57px;
  text-align: center;
  color: white;
  width: 45%;
  
}

.testimonials{
  background-color: #0c0a3a;
  
  width: 20rem;
  height: 15rem;
  margin-top: 4rem;
  border-radius: 20px;
  color: white;
  text-align: center;
}


.olivia h5{
  margin-top: 0rem;
  font-family: "Montserrat", sans-serif ;
  font-size: 18px;
}
.olivia p{
  width: 80%;
  
  font-family: "Montserrat", sans-serif ;
  font-size: 14px;

}

.radial-gradient{
    
    width: 84%;
    height: 23rem;
    background-image: linear-gradient(to right top, #8A8ADA, #86CFD0, #C1C1C1);
    border-radius: 30px;
    margin-top: 7rem;
}


.radial-gradient p{
  font-family: 'Montserrat';
font-size: 25px;
text-align: center;
/* margin-top: 9rem; */
padding-top: 4rem;
}

.radial-gradient h2{
  font-family: 'Montserrat';
  font-size: 37px;
  
  
  font-weight: bold;
  color: white;
  

}

.footer{
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.lists{
  display: flex;
  flex: 5;
}

.krypto{
  
  flex: 1;
}


.footer p {
  padding: 1rem;
  font-family: 'Montserrat';
}

.footer li{
  padding: 1rem;
  font-family: 'Montserrat';
  font-size: 12px;
}
.list-one{
  margin-left: 4rem;
}
.list-two{
  font-family: 'Montserrat';
  margin-left: 5rem;
  margin-top: 2rem;
}

input{
  background-color: #0c0a3a;
  width: 16rem;
    height: 4rem;
    border-radius: 30px;
    border: none;

}
.testimony-people{
  display: flex;
  justify-content: center;
}

.btn-component.fourth{
  background-color: #8a8ada;
  width: 12rem;
  height: 4rem;
  border-radius: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin-left: -4rem;
} 


.radial-gradient-two{
  height: 1rem;
  background-image: linear-gradient(to right top, #8A8ADA, #86CFD0, #C1C1C1);
  border-radius: 3px;
  margin-top: 7rem;
}


@media (max-width : 1024px){
  body{
    
    justify-content: center;
  }
  .Hero-section {
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
}
.text-hero-section{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-hero-section p {
  width: 50%;
  margin-top: 0rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.logos img{
  display: flex;
  justify-content: center;
}

  .text-hero-section  h1{
    font-size: 40px;
    margin-left: 4rem;
  }
  .text{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 4rem;
  }
  .text.first{
    display: flex;
   flex-direction: column-reverse;
  }
  .text h2 {

    width: 90%;
    text-align: center;
    font-size: 35px;
}
.text p{
  width: 80%;
  font-size: 14px;
  text-align: center;
  
}
.text-container{
  display: flex;
    flex-direction: column;
    align-items: center;
} 
.logos img{
  margin-top: 2rem;
}
.logos{
  height: 20rem;
}
.logo-container{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.image-hero-section img{
  width:300px;
  margin-top: 3rem;
}
.testimony h4{
  
  font-size: 14px;
  text-align: center;
}
.testimony h2 {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
 
}
.img-container img{
  width: 300px;
}
.testimonials{
    width: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radial-gradient{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.radial-gradient h2{
  margin-top: 0rem;
}
.btn-component.fourth{
  width: 16rem;
  margin-left: 0;
  margin-top: 1rem;
}
.footer{
  width: 100%;
  display: grid;
  
}
.lists{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.radial-gradient-two{
  width: 100%;
}
.circletwo {
 
  left: 0rem;
  
}
.olivia{
  width: 70%;
}
.olivia p{
  width: 100%;
}
.btn-component.first{
  width: 9rem;
  font-size: 11px;
}
.btn-component.second{
  width: 9rem;
  font-size: 11px;
}
.btn-component.third{
  width: 9rem;
  font-size: 11px;
}
}


@media (max-width : 460px){

.circletwo{
  width: 13rem;
}

}